:root {

  --main-txt-color: #333 ;  
  --main-padding: 15px;  
  --main-bg-color: #8A8A88;
  --main-bg-color2: #8A8A88;
  --mojkolor1: #333;
}
a {text-decoration: none;} 
a { color: inherit; } 
body {
  background-color: #77776C;
  a { color: inherit; } 
}
li {
  font-size: 20px;
  font-family: verdana;
}
u {
  font-size: 20px;
  font-family: verdana;
}
h1 {
  color: #333;
  margin-left: 20px;
  a { color: #F8F8F2; } 
}
p {
  color: #333;
  font-family: verdana;
  font-size: 20px;
}
#div1 {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);  
  padding: var(--main-padding);
}
#div2 {
  background-color: var(--main-bg-color);
  color: #E8246B;  
  padding: var(--main-padding);
}
#div3 {
  background-color: var(--main-bg-color2);
   color: #e0d8d1;
  padding: 5px;
}
#div4 {
  background-color: var(--mojkolor1);
  padding: 5px;
}
a { color: inherit; } 
